.nav {
  background-color: white;
  display: block;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #E1E1E1;
  opacity: 1;
  top: 0;
  position: fixed;
}

.nav-logo {
  list-style: none;
  margin: 0;
  float: left;
  margin-top: 2.5rem;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  color: #f7fff7;
  float: right;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
  margin-right: 4rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.navbar-item a {
  font-weight: bold;
  text-decoration: none;
}

.navbar-item a:hover {
  border-bottom: 4px solid ##00F8B7;
  transition: all 0.2s;
}

/* For devices smaller than 400px */
@media (max-width: 400px) {
  .nav-logo {
    padding-bottom: 2.5rem;

  }

  .navbar-item {
    float: right;
    margin-right: 0;
    font-size: 1.4em;

  }

}